<!DOCTYPE html>
<html lang="ro">

<head>
    <title>LangWeil</title>
    <meta name="description"
        content="LangWeil ofera resurse si materiale preliminare pentru invatatul limbilor straine.">
    <meta name="keywords"
        content="LangWeil, invatatul limbilor, engleza, germana, japoneza, english, deutsch, invatare engleza, invatare germana, invatare japoneza, limbi straine">
    <%- include('../fragmente/head.ejs') %>    
</head>
    <body>
        
    <%- include("../fragmente/header.ejs");  %> 

    <main>
        <div id="err-coloane">
			<div id="err-imag">
				<img src="<%- locals.imagine %>" />
			</div>
			<section>
				<h2><%- locals.titlu %></h2>
				<p><%- locals.text %></p>
			</section>
		</div>
    </main>
    
    <%- include("../fragmente/footer.ejs");  %> 


    </body>
</html>