<!DOCTYPE html>
<html lang="ro">

<head>
    <title>LangWeil</title>
    <meta name="description"
        content="LangWeil ofera resurse si materiale preliminare pentru invatatul limbilor straine.">
    <meta name="keywords"
        content="LangWeil, invatatul limbilor, engleza, germana, japoneza, english, deutsch, invatare engleza, invatare germana, invatare japoneza, limbi straine">
    <%- include('../fragmente/head.ejs') %>
</head>

<body>
    <%- include('../fragmente/header.ejs') %>
        <main>
            <div id="grid-pagina">
                <section id="welcome">
                    <hgroup>
                        <h2>Bine ati venit!<i class="fa-solid fa-hand fa-shake"
                                style="--fa-animation-duration: 6s;"></i>
                        </h2>
                        <p class="subtitlu"><em>Oricat de plictisitor ar fi, hai sa invatam.</em></p>
                    </hgroup>
                </section>
                <section id="orar">
                    <div class="table-container">
                        <table id="tab-orar">
                            <caption>
                                <h2>Orarele meditatorilor nostrii</h2>
                            </caption>
                            <thead>
                                <tr>
                                    <th>Profesor</th>
                                    <th>Limba</th>
                                    <th>Luni</th>
                                    <th>Marti</th>
                                    <th>Miercuri</th>
                                    <th>Joi</th>
                                    <th>Vineri</th>
                                    <th>Sambata</th>
                                    <th>Duminica</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Benjamin Berthram</td>
                                    <td rowspan="2" class="exceptie-tabel"><b>Engleza</b></td>
                                    <td>10:00 AM-15:00 PM</td>
                                    <td>12:00 PM-2:00 PM</td>
                                    <td><b>N/A</b></td>
                                    <td>3:00 PM-8:00 PM</td>
                                    <td><b>N/A</b></td>
                                    <td>10:00 AM-5:00 PM</td>
                                    <td><b>N/A</b></td>
                                </tr>
                                <tr>
                                    <td>Petricica Smaranda</td>
                                    <td>9:00 AM-11:00 AM</td>
                                    <td>12:30 PM-8:30 PM</td>
                                    <td>9:00 AM-1:00 PM</td>
                                    <td><b>N/A</b></td>
                                    <td><b>N/A</b></td>
                                    <td>1:00 PM-8:00 PM</td>
                                    <td><b>N/A</b></td>
                                </tr>
                                <tr>
                                    <td>Johann Weiher</td>
                                    <td rowspan="2" class="exceptie-tabel"><b>Germana</b></td>
                                    <td><b>N/A</b></td>
                                    <td><b>N/A</b></td>
                                    <td><b>N/A</b></td>
                                    <td><b>N/A</b></td>
                                    <td>6:00 PM-9:00 PM</td>
                                    <td>12:00 PM-10:00 PM</td>
                                    <td>9:00 AM-9:00 PM</td>
                                </tr>
                                <tr>

                                    <td>Stanica Daniel</td>
                                    <td>9:00 AM-11:00 AM</td>
                                    <td>11:00 AM-1:00 PM</td>
                                    <td>2:00 PM-9:00 PM</td>
                                    <td><b>N/A</b></td>
                                    <td><b>N/A</b></td>
                                    <td>10:00 AM-4:00 PM</td>
                                    <td><b>N/A</b></td>
                                </tr>
                                <tr>

                                    <td><i lang="ja">北川木村</i>/Kitagawa Kimura</td>
                                    <td rowspan="2" class="exceptie-tabel"><b>Japoneza</b></td>
                                    <td>6:00 AM-12:00 PM</td>
                                    <td>6:00 AM-9:00 AM</td>
                                    <td><b>N/A</b></td>
                                    <td><b>N/A</b></td>
                                    <td><b>N/A</b></td>
                                    <td><b>N/A</b></td>
                                    <td>6:00 AM-12:00 PM</td>
                                </tr>
                                <tr>
                                    <td><i lang="ja">中村博美</i>/Nakamura Hiromi</td>
                                    <td>10:00 AM-12:00 PM</td>
                                    <td>12:00 PM-2:00 PM</td>
                                    <td>9:00 AM-12:00 PM</td>
                                    <td>6:00 AM-9:00 AM</td>
                                    <td><b>N/A</b></td>
                                    <td><b>N/A</b></td>
                                    <td><b>N/A</b></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="9">Orarele sunt predisupse la schimbari frecvente. Timpul dat este
                                        GMT+2,
                                        unii
                                        profesori locuiesc in afara Romaniei.</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <p><strong>Atentie!!!</strong> Profesorul Kimura este absent intreaga luna Martie.</p>
                </section>
                <section id="user"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae maximus nunc,
                    ornare
                    bibendum odio. Quisque in pellentesque ipsum. Vivamus nec eleifend libero, at blandit dui. Maecenas
                    fermentum posuere est vehicula faucibus. Aenean tortor nibh, tempor at lacinia et, pulvinar quis
                    mauris.
                    Nulla interdum varius sapien, vitae sollicitudin metus egestas id. Ut et accumsan eros. Vivamus
                    sodales
                    ligula quis lectus rhoncus condimentum. Praesent gravida facilisis dolor, eget tempus ipsum varius
                    eu.
                    Vestibulum viverra quam id interdum efficitur. Donec sollicitudin bibendum tellus, eu rutrum orci
                    fermentum at. Duis non pellentesque tellus. Etiam hendrerit fermentum purus a luctus. Donec pulvinar
                    pretium odio eget iaculis. Nunc tempor, mi a elementum varius, risus metus commodo ipsum, in porta
                    urna
                    purus ac neque. </section>
                <section id="data-user">
                    <p> IP-ul tau: <strong>
                            <%= ip %>
                        </strong></p>
                </section>
                <section id="data-site"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae maximus
                    nunc,
                    ornare bibendum odio. Quisque in pellentesque ipsum. Vivamus nec eleifend libero, at blandit dui.
                    Maecenas fermentum posuere est vehicula faucibus. Aenean tortor nibh, tempor at lacinia et, pulvinar
                    quis mauris. Nulla interdum varius sapien, vitae sollicitudin metus egestas id. Ut et accumsan eros.
                    Vivamus sodales ligula quis lectus rhoncus condimentum. Praesent gravida facilisis dolor, eget
                    tempus
                    ipsum varius eu. Vestibulum viverra quam id interdum efficitur. Donec sollicitudin bibendum tellus,
                    eu
                    rutrum orci fermentum at. Duis non pellentesque tellus. Etiam hendrerit fermentum purus a luctus.
                    Donec
                    pulvinar pretium odio eget iaculis. Nunc tempor, mi a elementum varius, risus metus commodo ipsum,
                    in
                    porta urna purus ac neque. </section>
                <section id="calendar">
                    <h2><time datetime="2025-03-09"> 9 Martie - Excursia in Japonia </time></h2>
                    <div class="container-video">
                        <video controls poster="thumbnail.jpg" preload="metadata" width="100%">
                            <source src="/resurse/video/japan.mp4" type="video/mp4">
                            <source src="/resurse/video/japan.webm" type="video/webm">
                            <track label="Română" kind="subtitles" srclang="ro" src="/resurse/vtt/subtitrare_ro.vtt"
                                default>
                            <track label="English" kind="subtitles" srclang="en" src="/resurse/vtt/subtitrare_en.vtt">
                            <track label="日本語" kind="subtitles" srclang="ja" src="/resurse/vtt/subtitrare_jp.vtt">
                            <track label="Deutsch" kind="subtitles" srclang="de" src="/resurse/vtt/subtitrare_de.vtt">
                        </video>
                    </div>
                    <h2>Poza din excursie</h2>
                    <div id="imagine">
                    </div>
                </section>
                <section id="anunturi"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae maximus
                    nunc,
                    ornare bibendum odio. Quisque in pellentesque ipsum. Vivamus nec eleifend libero, at blandit dui.
                    Maecenas fermentum posuere est vehicula faucibus. Aenean tortor nibh, tempor at lacinia et, pulvinar
                    quis mauris. Nulla interdum varius sapien, vitae sollicitudin metus egestas id. Ut et accumsan eros.
                    Vivamus sodales ligula quis lectus rhoncus condimentum. Praesent gravida facilisis dolor, eget
                    tempus
                    ipsum varius eu. Vestibulum viverra quam id interdum efficitur. Donec sollicitudin bibendum tellus,
                    eu
                    rutrum orci fermentum at. Duis non pellentesque tellus. Etiam hendrerit fermentum purus a luctus.
                    Donec
                    pulvinar pretium odio eget iaculis. Nunc tempor, mi a elementum varius, risus metus commodo ipsum,
                    in
                    porta urna purus ac neque.</section>
                <section id="resurse">
                    <div class="ref-container">
                        <h2 id="text">Exemple</h2>
                        <div id="text-reflectat">Exemple</div>
                    </div>
                    <h3>Alfabet Japonez</h3>
                    <figure id="fig1" class="fg-img">
                        <picture>
                            <source srcset="/resurse/imagini/chart-hiragana-484x690.webp" media="(max-width:700px)">
                            <source srcset="/resurse/imagini/chart-hiragana-702x1000.webp" media="(max-width:1200px)">
                            <img src="/resurse/imagini/chart-hiragana-1201x1711.webp" alt="kana-ch3">
                        </picture>
                        <figcaption>Hiragana Chart</figcaption>
                    </figure>
                    <hr class="stilizat">
                    <h3>Linkuri</h3>
                    <div class="link-resurse">
                        <h4><a href="https://sakubi.neocities.org/" target="_blank">Ghid de gramatica japonez</a></h4>
                        <h4><a href="https://sakubi.neocities.org/#territory" target="_blank">Gramatica mai avansata din
                                acelasi
                                ghid</a></h4>
                        <h4><a
                                href="https://static.wixstatic.com/media/ad21b4_aab42d4b4b4d40ab9794e968b3ef1519~mv2.jpg/v1/crop/x_0,y_122,w_1414,h_1878/fill/w_932,h_1244,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/7.jpg">Exemple
                                de verbe neregulate din germana (imagine)</a></h4>
                        <h4><a href="/resurse/imagini/katakana-hiragana-chart-724x1024.jpg"
                                download="alfabet_japonez.jpg">Alfabetul Japonez (hiragana+katakana)</a></h4>
                    </div>
                    <section id="video">
                        <h3>Videoclipuri utile</h3>
                        <p>Daca doriti sa va consolidati ascultatul, va recomandam sa incercati videoclipuri
                            <b>Comprehensible
                                Input</b> in limba/limbile pe care le invatati.
                        </p>
                        <div class="container-iframe">
                            <div class="video-iframe">
                                <iframe width="560" height="315" src="https://youtube.com/embed/ey6uvhOi0uI"
                                    name="jp-vid" title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            </div>
                            <div class="taburi-iframe">
                                <a href="https://www.youtube.com/embed/ey6uvhOi0uI" target="jp-vid">Videoclip
                                    Japoneza</a>
                                <a href="https://www.youtube.com/embed/IZZEijaJLmI" target="en-vid">Videoclip
                                    Engleza</a>
                                <a href="https://www.youtube.com/embed/mxOCO8TKIRo" target="de-vid">Videoclip
                                    Germana</a>
                            </div>
                        </div>
                    </section>
                </section>
                <section id="istoric">
                    <h2 class="fg-img">Istoric</h2>
                    <ul>
                        <li>
                            <p><time datetime="2026-02-13">13 februarie 2026, <b>Anunt important</b></time> Este
                                oficial:
                                avem
                                cursuri
                                in liceul Falschnommen din Berlin. In curand ne vom raspandi.</p>
                        </li>
                        <li>
                            <p><time datetime="2025-12-13">13 decembrie 2025, <b>Oferta palpitanta</b></time> In curand
                                vom
                                primi
                                prima
                                sponsorizare oficiala academica!</p>
                        </li>
                        <li>
                            <p><time datetime="2022-10-20">20 octombrie 2025, <b>Anunt de limba noua</b></time> Am
                                inceput
                                sa
                                lucram
                                la
                                implementiata limbii coreene.</p>
                        </li>
                        <li>
                            <p><time datetime="2020-03-15">15 martie 2025, <b>Avem profesor nou!</b></time> <span>Ni s-a
                                    alaturat
                                    profesorul Kitagawa.</span></p>
                        </li>
                        <li>
                            <p><time datetime="2024-06-10">10 iunie 2024, <b>Ni s-a realaturat un profesor!</b></time>
                                <span>Vesti
                                    bune:
                                    domnul Berthram s-a intors la LangWeil.</span>
                            </p>
                        </li>
                        <li>
                            <p><time datetime="2024-05-05">5 mai 2024, <b>Avem o limba si un profesor nou!</b></time> Am
                                adaugat
                                limba
                                japoneza la studiile oferite, cu ajutorul profesorului Nakamura.</p>
                        </li>
                        <li>
                            <p><time datetime="2024-01-30">30 ianuarie 2024, <b>Vesti triste</b></time> Din pacate
                                domnul
                                Berthram
                                nu
                                mai poate lucra momentan.</p>
                        </li>
                        <li>
                            <p><time datetime="2023-09-23">23 septembrie 2023, <b>Avem profesori noi!</b></time> Ni s-au
                                alaturat
                                trei
                                profesori noi.</p>
                        </li>
                        <li>
                            <p><time datetime="2023-06-15">15 iunie 2023, <b>Avem profesor nou!</b></time> Ni s-a
                                alaturat
                                profesorul
                                Berthram din Anglia.</p>
                        </li>
                        <li>
                            <p><time datetime="2023-05-19">19 mai 2023, <b>Angajam!</b></time> Am inceput sa angajam
                                meditatori!
                            </p>
                        </li>
                        <li>
                            <p><time datetime="2023-03-12">12 martie 2023, <b>Limba noua adaugata!</b></time> S-a
                                adaugat
                                limba
                                germana
                                la studiile oferite.</p>
                    </ul>
                </section>
                <section id="faq">
                    <h2>Intrebari frecvente</h2>
                    <details>
                        <summary>Cat de frecvent ar trebui sa studiez cu acest site?</summary>
                        <p>Recomandam să studiati zilnic pentru cel putin 30 de minute. Depasind aceasta limita poate
                            duce
                            la
                            oboseala mentala.</p>
                    </details>
                    <details>
                        <summary>La ce nivel ma pot astepta sa ajung in cam o luna cu acest site?</summary>
                        <p>Nu putem garanta nimic, depinde de consistenta dvs. In general, ar trebui sa fiti la nivelul
                            A2
                            dupa
                            o luna de studiu constant.</p>
                    </details>
                    <details>
                        <summary>Ma pot baza doar pe acest site sa invat o limba?</summary>
                        <p>Depinde ce scop aveti. Este un instrument util, mai ales pentru citit si scris, dar nu este
                            suficient
                            pentru a deveni fluent in cele mai multe cazuri.</p>
                    </details>
                    <details>
                        <summary>Profesorii au vreun certificat oficial?</summary>
                        <p>Toti meditatorii nostri sunt profesori cu ani de experienta in predarea limbilor straine. Va
                            garantam
                            ca cu ajutorul lor veti ajunge la un nivel mult mai avansat.</p>
                    </details>
                </section>
            </div>
            <section id="galerie-statica">
                <h2>Galerie</h2>
                <div id="grid-galerie">
                    <% const vectLuni=["ianuarie", "februarie" , "martie" , "aprilie" , "mai" , "iunie" , "iulie"
                        , "august" , "septembrie" , "octombrie" , "noiembrie" , "decembrie" ]; 
                        const lunaCurenta=vectLuni[new Date().getMonth()]; 
                        let imaginiFiltrate=locals.imagini.filter(imag=>imag.luni && imag.luni.includes(lunaCurenta));

                        const maxImages = 12;
                        imaginiFiltrate = imaginiFiltrate.slice(0, maxImages);

                        function getFileNameFromPath(filePath) {
                            if (!filePath) return "imagine";
                            const parts = filePath.split('/');
                            const fileName = parts[parts.length - 1];
                            return fileName.replace(/\.[^/.]+$/, "");
                        }
                        /*12 imagini max => 8x3*/
                        const rows = 8;
                        const cols = 3;
                        let grid = Array(rows).fill().map(() => Array(cols).fill(null));
                        let imgIndex = 0;
                        for (let r = 0; r < rows && imgIndex < imaginiFiltrate.length; r++) { 
                            for (let c=0; c < cols && imgIndex < imaginiFiltrate.length; c++) { 
                                if ((r + c) % 2===0) {
                                grid[r][c]=imaginiFiltrate[imgIndex]; imgIndex++; } 
                            } 
                        } 
                        for (let r=0; r < rows; r++) { 
                            for (let c=0; c < cols; c++) { 
                                const image=grid[r][c]; 
                                if (image) { 
                                    let altText=image.alt; 
                                    if(!altText || altText.trim()==="" ) { altText=getFileNameFromPath(image.fisier); } %>
                            <figure>
                                <picture>
                                    <source srcset="<%- image.fisier_mediu %>" media="(max-width:1100px)">
                                    <img src="<%- image.fisier %>" alt="<%- altText %>" title="<%- image.descriere %>">
                                </picture>
                                <figcaption><%- image.descriere %></figcaption>
                            </figure>
                            <% } else { %>
                                <div class="empty-cell"></div>
                                <% } } } %>
                </div>
            </section>
        </main>
        <%- include('../fragmente/footer.ejs') %>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
                crossorigin="anonymous"></script>
</body>